@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,310;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,310;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/trebuchet-ms-2');

/* Pallette Colours:
Steel-Background: #4a5c70,#66788f

Powder Blue: #E2E9F0

Slate Gray: #A8B6C6

Steel Blue: #657898

Navy Blue: #32425D

Midnight Navy: #111B2B

Some other colours:

#001040

#083870

#185088

#306090

#5878a0 */

/*------------------------------------- BACKGROUND COLOR AND BACKGROUND IMAGE -------------------------------------  */

.html{
    scroll-behavior: smooth;
}
.b-img{
    opacity: 0.85;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}
.home hr{
    z-index: 0;
}
.home{
    width: 100%;
    max-width: 1125px;
    background-color: rgb(13, 16, 23, 0.99);
    box-shadow: #727272;
    border-radius: 4px;
    position: absolute;
    margin: auto;
    height: auto;
    left: 5%;
    top: 5%;
    right: 5%;
    color: #dbe3ff;
    line-height: 1.222;
    font-family: 'Poppins', sans-serif;
    padding: 40px 80px 40px 80px;
    font-weight: 400;
    z-index: 100;
    scroll-behavior: smooth
}

/* ------------------------------------------ NAV BAR ------------------------------------------ */

.nav-left{
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    justify-content: center;
}
.nav-left ul{
    position: absolute;
    padding: 0;
}
.nav-left .nav-left_item{
    align-items: center;
    justify-content: space-between;
}
.nav-left .nav-left_item > ul > li{
    display: inline-block;
}
.nav-left .nav-left_item > ul > li:not(:last-child){
    margin-right: 50px;
}
.nav-left .nav-left_item a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #e8ecff;
    line-height: 1.5;
}
.nav-left_item li{
    list-style-type: none;
}
.nav-left .nav-left_item > ul > li > a{
    padding: 0px 0;
}
.nav-left .nav-left_item .dropdown{
    position: relative;
}
.nav-left .nav-left_item > ul > .dropdown > a{
    padding-right: 15px;
}
.nav-left .nav-left_item i{
    font-size: 10px;
    pointer-events: none;
    user-select: none;
    position: absolute;
    color: #eff2ff;
    top: calc(50% - 5px)
}
.nav-left .nav-left_item > ul > li > i{
    right: 0;
}
.nav-left .nav-left_item .sub-dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 230px;
    padding: 20px 20px 20px 20px;
    /* background: linear-gradient(90deg, rgba(147, 158, 197),rgba(149, 145, 206)); */
    background: linear-gradient(90deg, rgb(50, 60, 95, 0.97),rgb(76, 78, 121, 0.97));
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
    z-index: 1;
    transform-origin: top;
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
    border-radius: 5px;
}
.nav-left .nav-left_item .sub-dropdown i{
    transform: rotate(-90deg);
    right: 24px;
}
.nav-left .nav-left_item .dropdown ul li i:hover{
    transform: rotate(90deg);
}
.nav-left .nav-left_item .sub-dropdown .dropdown > a{
    padding-right: 34px;
}
.nav-left .nav-left_item .sub-dropdown span{
    background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%));
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size 0.5s ease;
}
.nav-left .nav-left_item .sub-dropdown li:hover > a > span{
    background-size: 100% 1px;
    transition: all 0.5s ease;
    color: rgb(204, 200, 255);
}
.title-dropdown a:hover{
    transition: all 0.5s ease;
    opacity: 0.8;
    color: rgb(200, 208, 255);
}
.nav-left .nav-left_item .sub-dropdown-right{
    left: 93%;
    top: 0;
}
.nav-left .nav-left_item li:hover > .sub-dropdown{
    opacity: 1;
    transform: none;
    visibility: visible;
    transition: all 0.5s ease;

}
.title-dropdown a{
    transition: 0.5s;
}
.dropdown .quest{
    padding-top: 4px;
}
/* lỗi? ^ */
.nav-right{
    margin-left: 900px;
    display: block;
}
.nav-right{
    text-decoration: none;
    position: relative;
    height: 40px;
}
.nav-right input[type="search"]{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
    color: #fff;
    width: 100%;
    outline: 0;
}
.nav-right input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
.nav-right label{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    display: block;
    transition: 0.5s;
    color: #555;
}
.nav-right input[type="search"]:focus + label,
.nav-right input[type="search"]:valid + label{
    /* transform: translateY(-20px); */
    /* font-size: 0px;
    left: 50%; */
    /* transform: translateY(-20px) translateX(30px) rotate(20deg); */
    color: rgba(255, 255, 255, 0);
    transition: all 0.6s ease;
    font-size: 10px;
}
.nav-right span{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: #555;
    width: 100%;
    height: 2px;
    transform: translateY(-12px);
}
.nav-right span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    filter: brightness(350%);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in-out;
}
.nav-right input[type="search"]:focus ~ span:before,
.nav-right input[type="search"]:valid ~ span:before{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
}
.nav-right button{
    background: rgba(168, 183, 199, 0);
    border: rgba(79, 89, 99, 0) 2px solid;
    padding: 0.5px 3px 0 3px;
    transform: translateY(-1px);
    border-radius: 3px;
    transform: translateX(230px);
    transition: all 0.3s ease;
}
.nav-right button:hover{
    background: rgb(65, 65, 65);
    transition: all 0.4s ease;
    border: rgba(85, 85, 85, 0.5) 2px solid;
}
/* ------------------------------------- SIDE BAR ------------------------------------- */

.side-all{
    display: flex;
    min-height: 100vh;
}
.sidebar{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex: 1 1 0;
    max-width: 300px;
    padding: 2rem 1rem;
    background-color: #111b2bcc;
    position: fixed absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sidebar .side-item{
    margin: 0 -1rem;
}
.sidebar .side-item .menu-item{
    padding: 0.8em;
    text-decoration: none; 
}
.sidebar .side-item .menu-item i:hover{
    color: #A8B6C6;
    transition: all 0.2s ease;
    background-color: #d9defff1;
    border-radius: 4.5px;
    color: #252529;
    padding: 6px;
}
.sidebar{
    position: absolute;
    top: 28%;
    left: 0;
    position: fixed;
}
.sidebar li a{
    color: #dbe3ff;
    align-items: center;
    text-decoration: none;
}
.sidebar li{
    list-style-type: none;
    height: 50px;
    line-height: 50px;
}
.sidebar{
    opacity: 1;
    z-index: 101;
}
.menu-item{
    text-align: center;
    left: 0;
}
.side-item i{
    transition: all 0.3s ease;
    background-color: rgb(102, 112, 143, 0);
    padding: 1px;
    border-radius: 4.5px;
}

/* ------------------------------------- MODIFY AND ANIMATION ------------------------------------- */

.contents-menu a{
    color: #dbe3ff;
}
.func-color a{
    /* color: hsl(230, 35%, 57%); */
    /* color: #ff87c9; */
    /* color: #a894ff; */
    /* color: #fffda0; */
    /* color: #4fffbb; */
    /* color: #5f6fff; */
    color: #0079eb;
}
.functional-link a{
    background: linear-gradient(hsl(182, 100%, 94%), hsl(197, 61%, 67%));
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: 0 87%;
    transition: background-size 0.4s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}
.functional-link a:hover{
    background-size: 100% 1px;
    filter: brightness(180%);
    /* #76C0DE */
    opacity: 0.95;
    transition: all 0.3s ease;
}
/* .functional-link:hover ~ a:before{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s ease-in-out;
} */
.box-functional-link a{
    background: linear-gradient(hsl(182, 100%, 94%), hsl(197, 61%, 67%));
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: 0 87%;
    transition: background-size 0.4s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}
.box-functional-link a:hover{
    background-size: 100% 1px;
    filter: brightness(180%);
    opacity: 0.95;
    transition: all 0.3s ease;
}
.contents-line{
    opacity: 0.4;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.e-rarity{
    color: #cc0000;
    font-weight: 500;
}
.p-list{
    padding-left: 25px;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 3px;
}
/* scrollbar background */
::-webkit-scrollbar-track {
  background: rgba(105, 107, 112, 0.8);
}
/* scrollbar moving part */
::-webkit-scrollbar-thumb {
  background: #424242;
}
::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}

/* ------------------------------------- BUTTON ------------------------------------- */

.typo-button{
    width: 100%;
    max-width: 64px;
    min-width: 64px;
    height: 100%;
    max-height: 23px;
    min-height: 23px;
    border-radius: 3.8px;
    color: #e5e8f7;
    text-align: center;
    font-size: 11.4px;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(15, 15, 15, 0.7);
    transition: 0.3s;
    font-family: "Fira Sans", "Trebuchet MS", Ubuntu, Helvetica, Arial, sans-serif;
    text-transform:uppercase;
}
.typo-button:hover{
    filter: brightness(115%);
    transition: all 0.2s ease;
}

.normal-type{
    background: #AAAA99;
    border:rgb(83, 83, 83) 1.5px solid;
}
.fire-type{
    background: #FF6043;
    border:rgb(100, 26, 26) 1.5px solid;
}
.water-type{
    border:rgb(28, 66, 92) 1.5px solid;
    background: #51A8FF;
}
.electric-type{
    border:rgb(87, 70, 16) 1.5px solid;
    background: #FFCC33;
}
.grass-type{
    background: #8BD46E;
    border:rgb(50, 99, 48) 1.5px solid;
}
.ice-type{
    border:rgb(44, 85, 92) 1.5px solid;
    background: #76d1ff;
}
.fighting-type{
    border:rgb(83, 51, 43) 1.5px solid;
    background: #C56E60;
}
.poison-type{
    border:rgb(82, 46, 87) 1.5px solid;
    background: #AA5599;
}
.ground-type{
    border:rgb(92, 78, 39) 1.5px solid;
    background: #DDBB55;
}
.flying-type{
    border:rgb(45, 53, 90) 1.5px solid;
    background: #8899FF;
}
.psychic-type{
    border:rgb(82, 25, 47) 1.5px solid;
    background: #FF5599;
}
.bug-type{
    background: #AABB22;
    border:#3e440e 1.5px solid;
}
.rock-type{
    border:rgb(77, 74, 46) 1.5px solid;
    background: #BBAA66;
}
.ghost-type{
    border:rgb(48, 46, 75) 1.5px solid;
    background: #6666BB;
}
.dragon-type{
    border:rgb(43, 39, 78) 1.5px solid;
    background: #7766EE;
}
.dark-type{
    border:rgb(49, 37, 31) 1.5px solid;
    background: #775544;
}
.steel-type{
    border:rgb(74, 74, 82) 1.5px solid;
    background: #AAAABB;
}
.fairy-type{
    border:rgb(74, 53, 77) 1.5px solid;
    background: #EE99EE;
}

/* ------------------------------------- INFORMATION TABLE ------------------------------------- */

.inform-table{
    border: hsl(211, 22%, 72%, 0.5) 2px solid;
}
.inform-table td{
    padding: 7px 14px 7px 14px;
    text-align: center;
}

/* ------------------------------------- FOOTER AND DESCRIPTION ------------------------------------- */

.footer{
    margin-top: 30px;
    bottom: 0;
    left: auto;
}
.footer-small{
    font-size: 15px;
    opacity: 0.6;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}
.desc td{
    border-top: hsl(211, 22%, 72%, 0.5) 2px solid;
}
.textPopup{
    background-color: #111B2B;
    padding: 100px 100px 100px 100px;
    color: #dbe3ff;
    position: fixed;
    display: block;
    z-index: 0;
    opacity: 0;
}
/* ------------------------------------- ROUTE DESCRIPTION ------------------------------------- */

.rt-description{
    font-weight: 400;
}
.pkm-table td{
    border-right: hsl(211, 22%, 72%, 0.5) 2px solid;
    border-bottom: hsl(211, 22%, 72%, 0.5) 2px solid;
    padding: 6px 20px 6px 20px;
    text-align: center;
}
.sec-pkm-table td{
    padding: 8px 20px 8px 20px;
    text-align: center;
}
.bot-border td{
    border-bottom: hsl(211, 22%, 72%, 0.5) 2px solid;
}
.right-border td{
    border-right: hsl(211, 22%, 72%, 0.5) 2px solid;
}
.top-border td{
    border-top: hsl(211, 22%, 72%, 0.5) 2px solid;
}
.left-border td{
    border-left: hsl(211, 22%, 72%, 0.5) 2px solid;
}
.bot-none td{
    border-bottom: none;
}
.right-none td{
    border-right: none;
}
.left-none td{
    border-left: none;
}
.top-none td{
    border-top: none;
}
.dist-sp{
    margin-left: 15px;
    margin-bottom: 10px;
}
